/* App.css */

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .grid {
    width: 100%;
  }
  
  .grid-item {
    margin-bottom: 15px;
  }
  
  .grid-sizer {
    width: 33.33%; /* 3 columns, set to 33.33% for equal width */
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  